<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      {% include "includes/head_section.html" %}
    </head>
    <body>
      <div class="container-fluid">
      <div class="row">
	<div class="wrapper">
      {% include "includes/header.html" %}

	<div id="wilg_bg">
	    <img src="{{STATIC_URL}}img/wilg_joan.png" height="100%"/>
	</div>
	<div id="body_content" class="col-md-22 col-md-offset-2">
	  {% block content %}{% endblock %}
	</div>
	</div>
      </div>
      </div>
      </div>
    </body>
</html>
