{% extends "content.html" %}


{% block main_content %}

The WILG recruitment process happens twice a year, and it occurs during the first two weeks at the start of each semester. During this time, the house holds many events open to the campus including dinners, concerts, study breaks, shopping trips, museum visits, arts and crafts, and much more. WILG recruits not only freshwomen, but all female undergraduate students as well.
<br/><br/>
We invite you to attend any of our rush events to take a break from your problem sets and studying. You will have a chance to meet and talk to current members of the house, go on a house tour, get answers to all your questions about WILG, and spend some quality time doing lots of fun activities. You'll see that we are a supportive and fun-loving community. Even if you missed our formal rush period, we have social events throughout the semester.
<br/><br/>
Any questions? Want more information? Feel free to email our rush chairs at wilg-rush[at]mit[dot]edu!

<iframe class="rushcalendar" src="https://www.google.com/calendar/embed?title=WILG Rush&amp;showTitle=1&amp;mode=AGENDA&amp;showCalendars=0&amp;mode=WEEK&amp;src=l25mc0sjsqs53sihuv8a1tv6bg%40group.calendar.google.com&ctz=America/New_York" style=" border-width:0 " frameborder="0" scrolling="no"></iframe>

WILG is located at 355 Massachusetts Avenue, near Toscanini's and Shaw's. Click
<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=FZBZhgId2DLD-ykXf0RvqnDjiTEq2208T2fIxA%3BFX1ohgIdAx3D-ykXyoeUVHfjiTFO5mCzwNfokQ&amp;q=77+Massachusetts+Ave,+Cambridge,+MA+to+355+Massachusetts+Avenue,+Cambridge,+MA&amp;aq=0&amp;oq=77+Massachusetts+Ave,+Cambridge,+MA+to+355+Massachusetts+Avenue,+Ca&amp;sll=42.37839,-71.11291&amp;sspn=0.075324,0.159645&amp;ie=UTF8&amp;ll=42.360971,-71.096503&amp;spn=0.003677,0.00568&amp;t=m&amp;saddr=77+Massachusetts+Ave,+Cambridge,+MA&amp;daddr=355+Massachusetts+Avenue,+Cambridge,+MA" target="_">here</a> for a map.

<iframe class="rushcalendar" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=FZBZhgId2DLD-ykXf0RvqnDjiTEq2208T2fIxA%3BFX1ohgIdAx3D-ykXyoeUVHfjiTFO5mCzwNfokQ&amp;q=77+Massachusetts+Ave,+Cambridge,+MA+to+355+Massachusetts+Avenue,+Cambridge,+MA&amp;aq=0&amp;oq=77+Massachusetts+Ave,+Cambridge,+MA+to+355+Massachusetts+Avenue,+Ca&amp;sll=42.37839,-71.11291&amp;sspn=0.075324,0.159645&amp;ie=UTF8&amp;t=m&amp;saddr=77+Massachusetts+Ave,+Cambridge,+MA&amp;daddr=355+Massachusetts+Avenue,+Cambridge,+MA&amp;ll=42.360971,-71.096503&amp;spn=0.003677,0.00568&amp;output=embed"></iframe><br />
{% endblock %}

